.body {
    display: flex;
    
}

.heading {
    font-size: 2vw;

}
.body-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body-top {
    display: flex;
    justify-content: center;
}
.body-text {
    display: flex;
    flex-direction: row;
    margin-left : 11%;
}
.section {
    margin: 3%;
}
.body-content {
    margin-left: 4%;
    margin-right: 4%;
    font-size: 1vw;
}
.body-content2 {
    margin-left: 4%;
    margin-right: 4%;
    font-size: 2vw;
}
.body-bottom {
    display: flex;
    justify-content: center;
}
.body-bottom2 {
    display: flex;
    justify-content: center;
}
body{
    background-color: rgb(221, 204, 183);
   }
    ul.b {
list-style-type: square;
color: rgb(245, 242, 235);
}
ul.b1 {
list-style-type: square;
margin-left: 800px;
}
.lists{
display: flex;

}

.lists  a {
text-decoration: none;
color: rgb(223, 150, 14);
font-size: 1.3em;

}

.lists  a:hover{
color: #f18a04 ;

}



* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;margin-left: 100px;}

/* Slideshow container */
.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.prev, .next,.text {font-size: 11px}
}
#img1{
width: 300px;
height: 350px;
}
#img2{
width: 300px;
height: 350px;
}

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 200px 60px 200px;
  }
  .footer p{
    color: #8a8a8a;
  
  }
  .footer h3{
    color: #fff;
    margin-bottom: 20px;
  }
  .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
  }
  .footer-col-1{
    flex-basis: 30%;
  }
  .footer-col-2{
    flex: 1;
    text-align: center;
  }
  .footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
  }
  .footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
  }
  ul{
    list-style-type: none;
  }
  .app-logo{
    display: inline-flex;
    margin-top: 20px;
    width: 440px;
    height: 50px;
  
  }
  .footer hr{
    border: none;
    background: #b5b5b5;
      height: 1px;
      margin: 20px 0; 
  }
  .copyright{
    text-align: center;
  }
  .container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
    