*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
}


.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul{
	display: inline-block;
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	margin-right: 20px;
}
a{
	text-decoration: none;
	color: #555;
}
p{
	color: #555;
}
.container{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col-2{
	flex-basis: 50%;
	min-width: 300px;
}
.col-2 img{
	max-width: 70%;
	padding: 50px 0;
}
.col-2 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}
.bt{
	display: inline-block;
	background:  #0000FF;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: backround 0.5s;
}
.bt:hover{
	background: #563434;
}
.header{
	background: radial-gradient(#fff, #00B5E2);
}
.header .row{
	margin-top: 70px;
}
/*-----------------------*/
.menu-icon{
	width: 28px;
	margin-left: 20px;
	display: none;
}

/*-----------*/
@media only screen and (max-width: 800px){
	nav ul{
		position: absolute;
		top: 70px;
		left: 0;
		background: #333;
		width: 100%;
		overflow: hidden;
		transition: max-height 0.5s;
	}
	nav ul li{
		display: block;
		margin-right: 50px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	nav ul li a{
		color: white;
	}
	.menu-icon{
		display: block;
		cursor: pointer;
	}
}

@media only screen and (max-width: 600px){
	.row{
		text-align: center;
	}
	.col-2, .col-3, .col-4{
		flex-basis: 100%;
	}
	.single-product .row{
		text-align:left;
	}
	.single-product .col-2{
		padding: 20px;
	}
	.single-product h1{
		font-size: 26px;
		line-height: 32px;
	}
}
/*-----------------*/
.single-product{
	margin-top: 80px;

}
.single-product .col-2 img{
	padding: 0;
}
.single-product .col-2{
	padding: 20px;
}
.single-product h4{
	margin: 20px 0;
	font-size: 22px;
	font-weight: bold;
}
.single-product select{
	display: block;
	padding: 10px;
	margin-top: 20px;
}
.single-product input{
	width: 50px;
	height: 40px;
	padding-left: 10px;
	font-size: 20px;
	margin-right: 10px;
	border: 1px solid #0000FF;
}
input{
	outline: none;
}
.single-product .fa{
	color: #0000FF;
	margin-left: 10px;
}
.small-img-row{
	display: flex;
	justify-content: start;
}
.small-img-col{
	flex-basis: 24%;
	cursor: pointer;
}